table {
  border-collapse: collapse;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

th, td {
  text-align: left;
  padding: 8px;
  border-radius: 0px;
}

tr:nth-child(even){background-color: #484e59}

th {
  background-color: #739a99;
  color: #fff;
}
.mt{
  margin-top: 30px;
}
.mb{
  margin-bottom: 30px;
}
.images-sizing{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
